services:
  # --- モノリス ---
  monolith:
    build: .
    volumes:
      - ./monolith:/app
      - ./telemetry.py:/telemetry.py
    ports:
      - "8001:8000"

  # --- マイクロサービス群 ---
  order:
    build: .
    volumes:
      - ./microservices/order:/app
      - ./telemetry.py:/telemetry.py
    ports:
      - "8002:8000"
    depends_on:
      - payment
      - inventory
      - jaeger # (あれば)

  payment:
    build: .
    volumes:
      - ./microservices/payment:/app
      - ./telemetry.py:/telemetry.py
    expose:
      - "8000"

  inventory:
    build: .
    volumes:
      - ./microservices/inventory:/app
      - ./telemetry.py:/telemetry.py
    expose:
      - "8000"

  # 4. 負荷試験ツール (Locust)
  load-test:
    image: locustio/locust
    volumes:
      - ./locustfile.py:/mnt/locust/locustfile.py
    ports:
      - "8089:8089"
    command: -f /mnt/locust/locustfile.py
    depends_on:
      - monolith
      - order

  # --- 追加: Jaeger (All-in-one) ---
  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686" # 管理画面 (UI)
      - "4317:4317" # データ受信 (OTLP gRPC)
    environment:
      - COLLECTOR_OTLP_ENABLED=true
